.aboutHeadline {
	font-size: max(48px, 7vw);
}
.c-gap {
	column-gap: 64px;
}
.col-count-4 {
	column-count: 4;
}
.avoid-break {
	break-inside: avoid;
}

.profilePic {
	padding-bottom: 125%;
	overflow: hidden;
}