.aboutHeadline {
	font-size: max(48px, 8vw);
	// letter-spacing: -0.035em;
	word-spacing: 0.125em;
}
.c-gap {
	column-gap: 64px;
}
.col-count-4 {
	column-count: 4;
}
.avoid-break {
	break-inside: avoid;
}

.profilePic {
	padding-bottom: 125%;
	overflow: hidden;
}