@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./home.scss";
@import "./header.scss";
@import "./singlePage.scss";
@import "./about.scss";
@import "./menuItem.module.css";

@layer base {
	@font-face {
		font-family: "PP Mori";
		src: url("/fonts/PPMori/PPMori-Extralight.woff2") format("woff2"),
			url("/fonts/PPMori/PPMori-Extralight.woff") format("woff");
		font-weight: 100;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "PP Mori";
		src: url("/fonts/PPMori/PPMori-SemiBoldItalic.woff2") format("woff2"),
			url("/fonts/PPMori/PPMori-SemiBoldItalic.woff") format("woff");
		font-weight: 600;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "PP Mori";
		src: url("/fonts/PPMori/PPMori-ExtralightItalic.woff2") format("woff2"),
			url("/fonts/PPMori/PPMori-ExtralightItalic.woff") format("woff");
		font-weight: 100;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "PP Mori";
		src: url("/fonts/PPMori/PPMori-Regular.woff2") format("woff2"),
			url("/fonts/PPMori/PPMori-Regular.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "PP Mori";
		src: url("/fonts/PPMori/PPMori-SemiBold.woff2") format("woff2"),
			url("/fonts/PPMori/PPMori-SemiBold.woff") format("woff");
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "PP Mori";
		src: url("/fonts/PPMori/PPMori-RegularItalic.woff2") format("woff2"),
			url("/fonts/PPMori/PPMori-RegularItalic.woff") format("woff");
		font-weight: normal;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "Neue Machina";
		src: url("/fonts/NeueMachina/NeueMachina-Bold.woff2") format("woff2"),
			url("/fonts/NeueMachina/NeueMachina-Bold.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Neue Machina";
		src: url("/fonts/NeueMachina/NeueMachina-Black.woff2") format("woff2"),
			url("/fonts/NeueMachina/NeueMachina-Black.woff") format("woff");
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Neue Machina";
		src: url("/fonts/NeueMachina/NeueMachina-Regular.woff2") format("woff2"),
			url("/fonts/NeueMachina/NeueMachina-Regular.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Migra';
		src: url('/fonts/Migra/Migra-Medium.woff2') format('woff2'),
			url('/fonts/Migra/Migra-Medium.woff') format('woff');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}
	
	@font-face {
		font-family: 'Migra';
		src: url('/fonts/Migra/Migra-Bold.woff2') format('woff2'),
			url('/fonts/Migra/Migra-Bold.woff') format('woff');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
	
	@font-face {
		font-family: 'Migra';
		src: url('/fonts/Migra/Migra-Light.woff2') format('woff2'),
			url('/fonts/Migra/Migra-Light.woff') format('woff');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}
	
	@font-face {
		font-family: 'Migra';
		src: url('/fonts/Migra/Migra-Semibold.woff2') format('woff2'),
			url('/fonts/Migra/Migra-Semibold.woff') format('woff');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}
	
	@font-face {
		font-family: 'Migra';
		src: url('/fonts/Migra/Migra-Regular.woff2') format('woff2'),
			url('/fonts/Migra/Migra-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
		

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-BulkyItalic.woff2")
				format("woff2"),
			url("/fonts/PolySans/PolySansTrial-BulkyItalic.woff") format("woff");
		font-weight: bold;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-Bulky.woff2") format("woff2"),
			url("/fonts/PolySans/PolySansTrial-Bulky.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-Bulky.woff2") format("woff2"),
			url("/fonts/PolySans/PolySansTrial-Bulky.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-Neutral.woff2") format("woff2"),
			url("/fonts/PolySans/PolySansTrial-Neutral.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-BulkyItalic.woff2")
				format("woff2"),
			url("/fonts/PolySans/PolySansTrial-BulkyItalic.woff") format("woff");
		font-weight: bold;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-SlimItalic.woff2")
				format("woff2"),
			url("/fonts/PolySans/PolySansTrial-SlimItalic.woff") format("woff");
		font-weight: 300;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-Slim.woff2") format("woff2"),
			url("/fonts/PolySans/PolySansTrial-Slim.woff") format("woff");
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-NeutralItalic.woff2")
				format("woff2"),
			url("/fonts/PolySans/PolySansTrial-NeutralItalic.woff")
				format("woff");
		font-weight: normal;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-NeutralItalic.woff2")
				format("woff2"),
			url("/fonts/PolySans/PolySansTrial-NeutralItalic.woff")
				format("woff");
		font-weight: normal;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-Neutral.woff2") format("woff2"),
			url("/fonts/PolySans/PolySansTrial-Neutral.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-Slim.woff2") format("woff2"),
			url("/fonts/PolySans/PolySansTrial-Slim.woff") format("woff");
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-SlimItalic.woff2")
				format("woff2"),
			url("/fonts/PolySans/PolySansTrial-SlimItalic.woff") format("woff");
		font-weight: 300;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "Moret";
		src: url("/fonts/Moret/Moret-Bold.woff2") format("woff2"),
			url("/fonts/Moret/Moret-Bold.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Moret";
		src: url("/fonts/Moret/Moret-Regular.woff2") format("woff2"),
			url("/fonts/Moret/Moret-Regular.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Moret";
		src: url("/fonts/Moret/Moret-ExtraBold.woff2") format("woff2"),
			url("/fonts/Moret/Moret-ExtraBold.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
	
}

body {
	// background-color: #14171a;
	// color: white;
	// background-color: #edece8;
	// color: #131313;
	background-color: #ffffff;
	color: #000000;
}

// * {
// 	cursor: none !important;
// }

.cursorDot {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-color: white;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999999;
	pointer-events: none;
	mix-blend-mode: difference;
}

.cursorText {
	font-size: 14px;
	text-transform: uppercase;
	color: white;
}
