@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./home.scss";
@import "./header.scss";
@import "./singlePage.scss";
@import "./about.scss";
@import "./menuItem.module.css";

@layer base {
	@font-face {
		font-family: "PP Mori";
		src: url("/fonts/PPMori/PPMori-Extralight.woff2") format("woff2"),
			url("/fonts/PPMori/PPMori-Extralight.woff") format("woff");
		font-weight: 100;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "PP Mori";
		src: url("/fonts/PPMori/PPMori-SemiBoldItalic.woff2") format("woff2"),
			url("/fonts/PPMori/PPMori-SemiBoldItalic.woff") format("woff");
		font-weight: 600;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "PP Mori";
		src: url("/fonts/PPMori/PPMori-ExtralightItalic.woff2") format("woff2"),
			url("/fonts/PPMori/PPMori-ExtralightItalic.woff") format("woff");
		font-weight: 100;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "PP Mori";
		src: url("/fonts/PPMori/PPMori-Regular.woff2") format("woff2"),
			url("/fonts/PPMori/PPMori-Regular.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "PP Mori";
		src: url("/fonts/PPMori/PPMori-SemiBold.woff2") format("woff2"),
			url("/fonts/PPMori/PPMori-SemiBold.woff") format("woff");
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "PP Mori";
		src: url("/fonts/PPMori/PPMori-RegularItalic.woff2") format("woff2"),
			url("/fonts/PPMori/PPMori-RegularItalic.woff") format("woff");
		font-weight: normal;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "Neue Machina";
		src: url("/fonts/NeueMachina/NeueMachina-Bold.woff2") format("woff2"),
			url("/fonts/NeueMachina/NeueMachina-Bold.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Neue Machina";
		src: url("/fonts/NeueMachina/NeueMachina-Black.woff2") format("woff2"),
			url("/fonts/NeueMachina/NeueMachina-Black.woff") format("woff");
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Neue Machina";
		src: url("/fonts/NeueMachina/NeueMachina-Regular.woff2") format("woff2"),
			url("/fonts/NeueMachina/NeueMachina-Regular.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Migra";
		src: url("/fonts/Migra/MigraItalic-ExtralightItalic.woff2")
				format("woff2"),
			url("/fonts/Migra/MigraItalic-ExtralightItalic.woff") format("woff");
		font-weight: normal;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "Migra";
		src: url("/fonts/Migra/Migra-Extralight.woff2") format("woff2"),
			url("/fonts/Migra/Migra-Extralight.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Migra";
		src: url("/fonts/Migra/Migra-Extrabold.woff2") format("woff2"),
			url("/fonts/Migra/Migra-Extrabold.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Migra";
		src: url("/fonts/Migra/MigraItalic-ExtraboldItalic.woff2")
				format("woff2"),
			url("/fonts/Migra/MigraItalic-ExtraboldItalic.woff") format("woff");
		font-weight: bold;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-BulkyItalic.woff2")
				format("woff2"),
			url("/fonts/PolySans/PolySansTrial-BulkyItalic.woff") format("woff");
		font-weight: bold;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-Bulky.woff2") format("woff2"),
			url("/fonts/PolySans/PolySansTrial-Bulky.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-Bulky.woff2") format("woff2"),
			url("/fonts/PolySans/PolySansTrial-Bulky.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-Neutral.woff2") format("woff2"),
			url("/fonts/PolySans/PolySansTrial-Neutral.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-BulkyItalic.woff2")
				format("woff2"),
			url("/fonts/PolySans/PolySansTrial-BulkyItalic.woff") format("woff");
		font-weight: bold;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-SlimItalic.woff2")
				format("woff2"),
			url("/fonts/PolySans/PolySansTrial-SlimItalic.woff") format("woff");
		font-weight: 300;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-Slim.woff2") format("woff2"),
			url("/fonts/PolySans/PolySansTrial-Slim.woff") format("woff");
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-NeutralItalic.woff2")
				format("woff2"),
			url("/fonts/PolySans/PolySansTrial-NeutralItalic.woff")
				format("woff");
		font-weight: normal;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-NeutralItalic.woff2")
				format("woff2"),
			url("/fonts/PolySans/PolySansTrial-NeutralItalic.woff")
				format("woff");
		font-weight: normal;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-Neutral.woff2") format("woff2"),
			url("/fonts/PolySans/PolySansTrial-Neutral.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-Slim.woff2") format("woff2"),
			url("/fonts/PolySans/PolySansTrial-Slim.woff") format("woff");
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "PolySans";
		src: url("/fonts/PolySans/PolySansTrial-SlimItalic.woff2")
				format("woff2"),
			url("/fonts/PolySans/PolySansTrial-SlimItalic.woff") format("woff");
		font-weight: 300;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "Moret";
		src: url("/fonts/Moret/Moret-Bold.woff2") format("woff2"),
			url("/fonts/Moret/Moret-Bold.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Moret";
		src: url("/fonts/Moret/Moret-Regular.woff2") format("woff2"),
			url("/fonts/Moret/Moret-Regular.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Moret";
		src: url("/fonts/Moret/Moret-ExtraBold.woff2") format("woff2"),
			url("/fonts/Moret/Moret-ExtraBold.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Resist Sans Display";
		src: url("/fonts/Resist/.woff2") format("woff2"),
			url("/fonts/Resist/.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Resist Sans Display";
		src: url("/fonts/Resist/ResistSansDisplay-Medium.woff2") format("woff2"),
			url("/fonts/Resist/ResistSansDisplay-Medium.woff") format("woff");
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Resist Sans Display";
		src: url("/fonts/Resist/ResistSansDisplay-Regular.woff2")
				format("woff2"),
			url("/fonts/Resist/ResistSansDisplay-Regular.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Resist Sans Text";
		src: url("/fonts/Resist/ResistSansText-Regular.woff2") format("woff2"),
			url("/fonts/Resist/ResistSansText-Regular.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Resist Sans Text";
		src: url("/fonts/Resist/ResistSansText-Bold.woff2") format("woff2"),
			url("/fonts/Resist/ResistSansText-Bold.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Resist Sans Text";
		src: url("/fonts/Resist/ResistSansText-Medium.woff2") format("woff2"),
			url("/fonts/Resist/ResistSansText-Medium.woff") format("woff");
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Satoshi";
		src: url("/fonts/Satoshi/Satoshi-Bold.woff2") format("woff2"),
			url("/fonts/Satoshi/Satoshi-Bold.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Satoshi";
		src: url("/fonts/Satoshi/Satoshi-Black.woff2") format("woff2"),
			url("/fonts/Satoshi/Satoshi-Black.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Satoshi";
		src: url("/fonts/Satoshi/Satoshi-Regular.woff2") format("woff2"),
			url("/fonts/Satoshi/Satoshi-Regular.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Satoshi";
		src: url("/fonts/Satoshi/Satoshi-Medium.woff2") format("woff2"),
			url("/fonts/Satoshi/Satoshi-Medium.woff") format("woff");
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Austin";
		src: url("/fonts/Austin/Austin-LightItalic.woff2") format("woff2"),
			url("/fonts/Austin/Austin-LightItalic.woff") format("woff");
		font-weight: 300;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "Austin Roman";
		src: url("/fonts/Austin/Austin-Italic.woff2") format("woff2"),
			url("/fonts/Austin/Austin-Italic.woff") format("woff");
		font-weight: normal;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "Austin";
		src: url("/fonts/Austin/Austin-Light.woff2") format("woff2"),
			url("/fonts/Austin/Austin-Light.woff") format("woff");
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Austin";
		src: url("/fonts/Austin/Austin-MediumItalic.woff2") format("woff2"),
			url("/fonts/Austin/Austin-MediumItalic.woff") format("woff");
		font-weight: 500;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "Austin";
		src: url("/fonts/Austin/Austin-Semibold.woff2") format("woff2"),
			url("/fonts/Austin/Austin-Semibold.woff") format("woff");
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Austin Roman";
		src: url("/fonts/Austin/Austin-Roman.woff2") format("woff2"),
			url("/fonts/Austin/Austin-Roman.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Austin";
		src: url("/fonts/Austin/Austin-Medium.woff2") format("woff2"),
			url("/fonts/Austin/Austin-Medium.woff") format("woff");
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Austin";
		src: url("/fonts/Austin/Austin-SemiboldItalic.woff2") format("woff2"),
			url("/fonts/Austin/Austin-SemiboldItalic.woff") format("woff");
		font-weight: 600;
		font-style: italic;
		font-display: swap;
	}
}

::selection {
	background: yellow;
}

body {
	// background-color: #14171a;
	// color: white;
	// background-color: #edece8;
	// color: #131313;
	background-color: #edece8;
	color: #0030ff;
	transition: background-color 1s ease-in-out;
}

// * {
// 	cursor: none !important;
// }

.cursorDot {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999999;
	pointer-events: none;
	// mix-blend-mode: difference;
}

.blue {
	background: #0030ff;
}

.yellow {
	background: #ffff00;
}

.cursorText {
	font-size: 14px;
	text-transform: uppercase;
	color: white;
}
