.tickerWrapper {
	height: 1.35rem;
	overflow: hidden;
}

.tickerWrapper2 {
	height: 1rem;
	white-space: nowrap;
	// overflow: hidden;
}

.ticker {
	display: flex;
	flex-direction: column;
	animation: move 10s normal infinite;
}

.message {
	position: relative;
	/* top: 1rem; */
}

.navParent {
	position: relative;
	color: white;
}
.underline {
	height: 2px;
	width: 100%;
	position: absolute;
	background-color: white;
}

@keyframes move {
	0% {
		transform: translatey(0);
	}
	31% {
		transform: translatey(0rem);
	}
	33% {
		transform: translatey(-1.35rem);
	}
	64% {
		transform: translatey(-1.35rem);
	}
	66% {
		transform: translatey(-2.75rem);
	}
	97% {
		transform: translatey(-2.75rem);
	}
	99.99% {
		transform: translatey(-4.1rem);
	}
	100% {
		transform: translatey(0rem);
	}
}
