.thumbnailOverlay {
	background-color: black;
    opacity: 0;
}

.thumbnailTitle {
	// letter-spacing: -0.015em;
}

.thumbnailRatio {
	overflow: hidden;
	width: 100%;
	padding-bottom: 56.25%;
}

.dropShadow {
	background: linear-gradient(10deg, rgba(0,0,0,0.35) 0%, rgba(255,255,255,0) 100%);
}