.heroBanner {
	height: 80vh;
	min-height: 400px;
}

.td-rounded-banner {
	clip-path: inset(0% 0% 0% 0% round 16px 16px 16px 0px);
}

.td-rounded {
	clip-path: inset(0% 0% 0% 0% round 16px);
}

.td-letter-spacing {
	// letter-spacing: -0.015em;
}

.title {
	// letter-spacing: -0.035em;
	font-size: max(60px, 7.5vw);
	line-height: 1em;
}

.headline {
	// font-size: max(40px, 5.615vw);
	// line-height: 1rem;
	// letter-spacing: -0.035em;
}
.pt {
	padding-top: 56.25%;
}

.imageCompareWrapper {
	width: 100%;
	position: relative;
}

.image-after-wrapper {
	width: 100%;
	position: absolute;
	top: 0;
	display: block;
	filter: drop-shadow(-2px 0 0 hsla(0, 0%, 100%, 0.9));
}
.image-after {
	position: absolute;
	top: 0;
	display: block;
}
.image {
	width: 100%;
	display: block;
}
.bar {
	width: 2px;
	background-color: red;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.safari-fix {
	-webkit-mask-image: -webkit-radial-gradient(white, black);
}

.perspective {
	perspective: 2000px;
	perspective-origin: center;
}

// .pill::after {
// 	content: "";
// 	height: 64px;
// 	width: 32px;
// 	background-color: orange;
// 	display: block;
// 	position: absolute;
// 	top: 0;
// 	right: -32px;
// 	border-radius: 0 32px 32px 0;
// }

// .pill::before {
// 	content: "";
// 	height: 64px;
// 	width: 32px;
// 	background-color: orange;
// 	display: block;
// 	position: absolute;
// 	top: 0;
// 	left: -32px;
// 	border-radius: 32px 0px 0px 32px;
// }

//****** CAROUSEL *********//

:root {
	--swiper-theme-color: white !important;
}

.swiper-button-next,
.swiper-button-prev {
	mix-blend-mode: difference;
}

.swiper-pagination-bullet-active {
	mix-blend-mode: difference;
}

div.react-player__play-icon {
	border-left-color: black !important;
}

div.react-player__shadow {
	background-color: white !important;
	background-image: none !important;
	width: 128px !important;
	transition: transform 0.1s ease-in-out;
}

div.react-player__preview:hover div.react-player__shadow {
	transform: scale(1.075);
}
