.h-80 {
    height: 100vh;
    min-height: 400px;
}
.td-letter-spacing {
    letter-spacing: -0.015em;
}

.title {
    letter-spacing: -0.035em;
    font-size: 7.5vw;
    line-height: 0.9em;
}

.headline {
    font-size: 3.25vw;
    letter-spacing: -0.0075em;
}
.pt {
    padding-top: 56.25%;
}